[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=ubuntu
WorkingDirectory=/var/www/DOMAIN
EnvironmentFile=/var/www/DOMAIN/.env


ExecStart=/var/www/DOMAIN/.venv/bin/gunicorn --bind unix:/tmp/DOMAIN.socket --capture-output --access-logfile /var/www/DOMAIN/access.log --error-logfile /var/www/DOMAIN/error.log tdd_webapp.wsgi:application

[Install]
WantedBy=multi-user.target
